header{
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    box-sizing: border-box;
    position: fixed;
    color: #fff;
    top: 0;
    left: 50%;
    right: 50%;
    transform:translate(-50%);
    z-index: 9999;
    background-color: rgba(34, 34, 34, .7);
    backdrop-filter: blur(10px);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.headerWrap{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.menuWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cmtLogo{
    background-image: url(../assets/images/logo.png);
    width: 250px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: block;
}

.headerMenu{
    display: flex; 
    width: 30%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.headerMenu>li{
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s; 
}

.headerMenu>li>a{
    color: #fff;
    position: relative;
}

.headerMenu>li>a:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .headerMenu>li>a:hover:after,
  .headerMenu>li>a:focus:after {
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  

.dropMenu{
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    height: 0px;
    border-top:1px solid #ffffff55 ;
    box-sizing: border-box;
    transition: all 0.3s ease; 
}

.dropMenu.open{
    height: auto;
    display: block; 
}

.dropMenu ul{
    width: 40%;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
}
.dropMenu li{
    display: block;
}
.dropMenu a{
    color: #fff;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
}

.language{
    font-size: 16px;
    font-weight: bold;
}
.krBtn::after{
    content: '|';
    color: #ffffff55;
    margin: 0 13px;
}


.mobileMenu{display: none;}




@media ( max-width :462px) {

    .forWeb{
        display: block;
    }

    .forMobile{
        display: none;
    }
    header{
            padding: 20px 0;
            display: flex;
            align-items: center;
    }
    .headerMenu{
        display: none;
    }

    .headerWrap{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        margin-bottom: 0px;
    }

    .cmtLogo{
        display: block;
        background-image: url(../assets/images/mainLogo.png);
        width: 80px;
        margin-bottom: 0px;
    }

    .menuWrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #showMenu{
        width: 27px;
        height: 24px;
        position: absolute;
        top: 51%;
        right: 20px;
        transform: translateY(-50%);
        z-index: 10003;
        display: block;
        cursor: pointer;
    }

    #showMenu span{
        display: block;
        width: 27px;
        height: 3px;
        background-color: #fff;
          transition: 0.4s;
    }
    
    #showMenu span:nth-child(2){
        margin: 6px 0;
    }
        
    .mobileMenu{
        width: 100%;
        display: none;
        height: 0;
        background-color: rgba(0, 0, 0, .9);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10002;
        padding: 20px;
        box-sizing: border-box;
        transition: all 0.3s ease-out;
        overflow: hidden;
    }

    .mobileMenu.show{
        display: block;
        height: 100vh;
    }

    .change span:nth-child(1) {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change span:nth-child(2) {
        opacity: 0;
    }
      
    .change span:nth-child(3) {
        -webkit-transform: rotate(45deg) translate(-9px, -7px);
        transform: rotate(45deg) translate(-7px, -4px);
    }
  

    .mobileMenuWrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    
    .mobileMenuWrap>ul{
        width: 50%;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .mobileMenuWrap h3{
        font-size: 17px;
        text-decoration: underline;
    }
    .mobileMenuWrap>ul>li{
        font-size: 15px;
        color: #ffffff77;
        text-decoration: none;
        margin-left: 5px;
        cursor: pointer;
        padding: 5px 0 ;
        box-sizing: border-box;
    }

    .menuBtLogo{
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%, -50%);
    }
    .menuBtLogo>img{
        width: 80px;
        height: 20px;
    }
    
    .dropMenu{
        display: none;
    }




}

