.goTop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 75px;
    height: 75px;
    background-color: #287EE0;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 75px;
    font-weight: bold;
	cursor:pointer;
    z-index: 999;
}
.sideBtn{
    display: none;
    margin: 0 auto;

}
.sideBtn.showUp{
    display: block;
}
.goService{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 75px;
    height: 220px;
    border-radius: 50px;
    background: #545454;
    box-shadow: 0px 0px 3px 0px rgba(34, 34, 136, 0.25);
    cursor:pointer;
    z-index: 998;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goService>a{
    margin-top: 10px;
    height: 60px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}
.mailIcon>span{
    background-image: url(../../public/images/msg_icon.png);
    display: block;
    width: 31px;
    height: 35px;
    background-size: cover;
}

.callIcon>span{
    background-image: url(../../public/images/call_icon.png);
    display: block;
    width: 31px;
    height: 31px;
    background-size: cover;
}




@media  (max-width:462px) {

    .goTop{
        right: 15px;
        bottom: 20px;
    }

    .goService{
        right: 15px;
        bottom: 20px;
    }
}